<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação Django{% endblock title %}</title>
</head>
<body>
    <header> <!-- Div de cabeçalho da nossa página html -->
        <nav><!-- Criando uma navbar -->
            <!--Criando links -->    
            <p>
                <a href="{% url 'index' %}"><h1>DJANGO-APPLICATION</h1></a>
                <a href="{% url 'topics' %}"><h1>Topicos</h1></a>
                {% if user.is_authenticated %} {# Verifica se existe um usuáruo autentificado! #}
                    <p>Olá, <strong>{{user.username}}</strong> Login realizado com Sucesso</p>
                    <a href="{% url 'logout' %}">Clique aqui para deslogar</a>
                {% else %}
                    <a href = "{% url 'cadastro' %}">Cadastrar usuário</a>
                    <a href = "{% url 'login' %}">Entrar, esse entrar vai redirecionar para a tela de login </a>
                {% endif %}
            </p>
        </nav>    
    </header>

    <main> <!-- Div principal da nossa página html -->
        {% block content %}
        <!-- Conteúdo das páginas filhas vai ser preenchidas aqui aqui -->
        {% endblock content %}
    </main>

    <footer>
        <p>Roda pé da página pai</p>
    </footer>
</body>
</html>
