{% extends "lerning_logs/base.html"%}

{% block content %}
    <h3>Tópicos: ID - {{topic.id}} Nome - {{topic.text}}</h3>
    <p>Anotações: </p>
    <ul>
        {% for entry in entries%}
            <li>
                <p>data anotação: {{entry.date_added}}</p>
                <p>anotação:{{entry.annotations}}</p>
            </li>
            {% empty %}
                <li>Não anotações relacionadas com este tópico.</li>
        {% endfor %}
    </ul>
    <p><a href = "{% url 'new_annotations' topic.id %}">Adicione uma nova anotação para o Tópico </a><p>
{% endblock content %}

<!-- 
    Basicamnete fizemos relacionamos cada Tópico com suas respectivas anotações 
    colocando parâmetros na url
 
-->